.HomePage {
  padding: 15px; 
}

.Title {
  font-size: 24pt;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form {
  padding: 15px;
  width: 40%; 
}

.post-form {
  margin: 10px 0px;
}
.post-form input, .post-form textarea {
  width: 100%; 
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  border-radius: .25rem;
  border: 2px solid rgb(0, 0, 0);
  padding: .375rem .75rem; 
  outline: none; 
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: .375rem .75rem; 
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
}


.post-display {
  border: 2px solid lightgrey;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
}